#Allow platform apps to interact with fido daemon
binder_call(platform_app, fidodaemon)

#Allow platform apps to interact with imscm daemon
binder_call(platform_app, imscm)
