# Policy for QM8626 USB Control
type qm8626-usb, domain;

type qm8626-usb_exec, exec_type, file_type;

# Started by init
init_daemon_domain(qm8626-usb)

# Accesses GPIO33 through SYSFS
allow qm8626-usb sysfs:file { write };

# For start up log
allow qm8626-usb kmsg_device:chr_file { write open };

# So init can wait for usbctrlclientset.txt to be available
allow init fuse:file getattr;

# read/open to control file usbctrlclientset.txt
allow qm8626-usb fuse:file { read open };
allow qm8626-usb fuse:dir { search };

# set property persist.qm8626.usbclonly.enable
allow qm8626-usb default_prop:property_service { set };
allow qm8626-usb persist_qm8626_prop_misc:property_service { set };

# property socket write
allow qm8626-usb property_socket:sock_file { write };

# For property service connection
allow qm8626-usb init:unix_stream_socket { connectto };

# allow access to persist
allow qm8626-usb persist_qm8626_prop_file:file { write create open read append getattr rename unlink};
allow qm8626-usb persist_qm8626_prop_file:dir { write add_name search remove_name rename read write };
allow qm8626-usb persist_file:dir { write add_name search remove_name rename };

allow qm8626-usb qm8626-usb:capability { dac_override  dac_read_search };